.newTodoForm {
    background-color: whitesmoke;
    width: 20%;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    padding: 10px;
    font-family: 'Cabin', 'sans-serif';
}

.newTodoForm-input {
    border: none;
    background-color: transparent;
    padding: 5px;
    flex: 2;
}

.newTodoForm-input:focus {
    border: none;
    outline: none;
} 

.newTodoForm-button {
    background-color: #d88771;
    color: whitesmoke;
    border: none;
    outline: none;
    padding: 5px;
    transition: all .2;
}

.newTodoForm-button:hover {
    cursor: pointer;
}